.header {
  font-weight: bold;
  color: rgb(0, 0, 0);
}

body {
  transition: background-color 0.3s ease-in-out; 
}

header {
  transition: background-color 0.3s ease-in-out; 
}

.black-background {
  background-color: black;
  color: white; 
}

.font-change {
  color: bisque; 
}

.audio1{
  position: absolute; 
  top: 400px; 
  left: 10px;  
}

.audio2{
  position: absolute; 
  top: 500px; 
  left: 10px;  
}

.audio3{
  position: absolute; 
  top: 600px; 
  left: 10px;  
}

.audio4{
  position: absolute;
  top: 700px; 
  left: 10px;  
}
.audio5{
  position: absolute; 
  top: 800px; 
  left: 10px;  
}

.dark-mode-button {
  color: black;
  font-weight: bold;
  background-color: rgb(136, 136, 136);
  position: fixed;
  top: 10px; 
  right: 10px;
  z-index: 999; 
  padding: 10px; 
  border: none; 
  border-radius: 20px; 
  cursor: pointer; 
}

.dark-mode-button {
  color: black;
  background-color: rgb(121, 118, 118);
  position: fixed;
  top: 10px;
  right: 10px;
  z-index: 999;
  padding: 10px;
  border: none;
  border-radius: 20px;
  cursor: pointer;
}

.dark-mode-button:hover {
  background-color: bisque;
  transition: background-color 0.3s ease-in-out;
}

.profile-pic {
  width: 150px;
  height: auto; 
  border: 2px solid bisque;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); 
  position: absolute;
  top: 70px; 
  left: 10px; 
}
